.movie__slider {
    position: relative;
    .swiper-horizontal {
        position: static;
        .swiper-button-prev,
        .swiper-button-next {
            top: var(--swiper-navigation-top-offset, 40%);
        }
        .swiper-button-next {
            margin-right: -40px;
        }
        .swiper-button-prev {
            margin-left: -40px;
        }
    }
    .slim-poster__swiper-item {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
        .swiperItem__container {        
        }
    }
    
    .recommendSwiper {
        margin-bottom: 0;
        .recommendSwiper__swiper-item {
            .swiperItem__container {
                margin-top: 12px;
                &:hover {
                    transform: scale(1.02) translateY(-3%);
                    .swiperItem__container-imageWrapper {
                        .moreTile__captionWrapper {
                            .moreTile__caption {
                                color: #fff
                            }
                        }
                    }
                    &::before {
                        background-color: #231f34;
                    }
                }
                &::before {
                    content: "";
                    display: block;
                    height: 0;
                    border-radius: 8px;
                    padding-bottom: 153.48837209%;
                    background-color: #1f1b2e;
                }
                .swiperItem__container-imageWrapper {
                    position: absolute;
                    left: 0;
                    right: 0;
                    top: 0;
                    &::before {
                        content: "";
                        display: block;
                        height: 0;
                        width: 100%;
                        border-radius: 8px 8px 8px 8px;
                        padding-bottom: 153.48837209%;
                    }
                    .swiperItem__container-image {
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 100%;
                        height: 100%;
                    }
                    .moreTile__captionWrapper {
                        align-items: center;
                        bottom: 0;
                        display: flex;
                        justify-content: center;
                        left: 0;
                        padding: 12px;
                        position: absolute;
                        right: 0;
                        top: 0;
                        .moreTile__caption {
                            color: #a5a1b2;
                            font-size: 15px;
                            font-weight: 600;
                            line-height: 20px;
                            transition-property: color;
                        }
                    }
                }
            }
        }
    }
}
