.main {
    .pageSection__main {
        .pageSection__main__container {
            margin-left: auto;
            margin-right: auto;
            max-width: 1216px;
            padding-top: 24px;
            .home__teaserList {
                width: 100%;
                box-sizing: border-box;
                -moz-column-gap: 24px;
                column-gap: 24px;
                display: flex;
                flex-wrap: wrap;
                padding: 0;
                row-gap: 16px;
                .home__teaserPlate {
                    flex: 1 1 0;
                    height: 48px;
                    .nbl-teaserTile__content {
                        height: 48px;
                        border-radius: 8px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background-color: #1f1b2e;
                        &:hover {
                            background-color: #231f34;
                            transition-duration: 80ms;
                        }
                        &:active {
                            background-color: #191524;
                            transition-duration: 80ms;
                        }

                        &__subscribe {
                            background-color: #2d1f3f;
                            &:hover {
                                transition-duration: 80ms;
                                background-color: #31244a;
                            }
                            &:active {
                                background-color: #271739;
                                transition-duration: 80ms;
                            }
                        }
                        img {
                            margin-right: 8px;
                        }

                        .nbl-teaserTile__caption {
                            font-size: 15px;
                            font-style: normal;
                            font-weight: 600;
                        }
                        @media screen and (max-width: 343px) {
                            .teaserPlate__img {
                                display: none;
                            }
                        }
                    }
                }
            }
            @media screen and (max-width: 1279px) {
                width: auto;
                margin-left: 20px;
                margin-right: 20px;
                .home__teaserList {
                    padding-left: 12px;
                    padding-right: 12px;
                }
            }
            @media screen and (max-width: 879px) {
                .home__teaserList {
                    flex-direction: column;
                    row-gap: 12px;
                }
            }
        }
    }
    .pageSection__container {
        width: 1216px;
        margin: 0 auto;
        padding-bottom: 24px;
        padding-top: 24px;
        .gallery__top {
            .gallery__blockHeader {
                margin-bottom: 24px;
                padding-left: 12px;
                padding-right: 12px;
                .gallery__imageHeader {
                    display: flex;
                    align-items: center;
                    span {
                        margin-left: 8px;
                        font-size: 24px;
                        font-weight: 700;
                        line-height: 28px;
                    }
                }
            }
            @media screen and (min-width: 1279px) {
                .gallery__blockHeader {
                    padding-left: 0;
                    padding-right: 0;
                }
            }
        }
    }
    .pageSection__container-inner {
        .clause,
        .clause_is-native,
        .home__clause {
            width: 74%;
            .clause__header {
                align-items: baseline;
                display: flex;
                .clause__title {
                    font-size: 21px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 24px;
                    color: #fff;
                }
            }
            .clause__header + .clause__text {
                margin-top: 12px;
            }
            .clause__text {
                font-size: 15px;
                font-style: normal;
                font-weight: 400;
                line-height: 22px;
                .clause__toggle {
                    cursor: pointer;
                    display: inline-block;
                    margin-top: 8px;
                    color: hsla(0, 0%, 100%, 0.88);
                    font-size: 15px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 22px;
                    transition-duration: 0.4s;
                    transition-property: transform, color;
                }
            }
            .clause__text p + p {
                margin-top: 8px;
            }
            .clause__text p + ol {
                list-style: none;
                margin-top: 8px;
            }
            .clause__text li {
                margin-left: 12px;
                padding-left: 16px;
                position: relative;
                &::before {
                    background-color: #a5a1b2;
                    border-radius: 50%;
                    content: "";
                    height: 6px;
                    left: 0;
                    position: absolute;
                    top: 10px;
                    width: 6px;
                }
            }
            .clause__text li + li {
                margin-top: 8px;
            }
            .clause__text ol + p {
                margin-top: 8px;
            }
        }
    }
    @media screen and (max-width: 1279px) {
        .pageSection__container {
            width: auto;
            margin-left: 20px;
            margin-right: 20px;
        }
        .pageSection__container-inner {
            padding-left: 12px;
            padding-right: 12px;
        }
    }
}
