.modalRating__title {
    font-family: iviSans, Arial, Helvetica, Helvetica Neue, FreeSans, sans-serif !important;
    font-size: 40px;
    line-height: 44px;
    font-weight: 900;
    margin-bottom: 12px;
}
.modalRating__desc {
    color: #a5a1b2;
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 24px;
}
.modalRating__rateList {
    display: flex;
    align-items: center;
    padding: 4px;
    background-color: #1f1b2e;
    column-gap: 2px;
    border-radius: 16px;
    margin-bottom: 12px;
    &-item {
        text-align: center;
        padding-top: 14px;
        color: #7e798f;
        font-size: 20px;
        line-height: 24px;
        font-weight: 500;
        height: 52px;
        width: 57px;
        margin-top: 0;
        cursor: pointer;
        border-radius: 12px;
        transition-duration: .16s;
        &:hover {
            background-color: #ea003d;
            box-shadow: 0 4px 16px rgba(234,0,61,.32);
            color: #fff;
        }
    }
}
.modalRating__labelBlock {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #7e798f;
    font-size: 13px;
    line-height: 16px;
}
.modalRating__closeBtn {
    z-index: 5;
    position: fixed;
    right: 30px;
    top: 30px;
    height: 33px;
    width: 33px;
    cursor: pointer;
    svg {
        width: 33px;
        height: 33px;
        background-color: none;
        transition: .2s;
    }
    &:hover {
        svg {
            transform: scale(1.1);
        }
    }
}