.recommendSwiper__swiper {
    &-item {
        width: 14.28571429%;
        cursor: pointer;
        padding-left: 12px;
        padding-right: 12px;
        padding-bottom: 24px;

        .swiperItem__container {
            position: relative;
            margin-bottom: 8px;
            transition-duration: .4s;

            -webkit-transition-duration: .4s;
            -o-transition-duration: .4s;
            transition-duration: .4s;

            -webkit-transform: scale(1) translateY(0);
            -o-transform: scale(1) translateY(0);
            transform: scale(1) translateY(0);

            -webkit-transition-property: -webkit-transform;
            -o-transition-property: -o-transform;
            transition-property: transform;
            transition-property: transform, -webkit-transform, -o-transform;
            -webkit-transform-origin: 50% 100%;
            -o-transform-origin: 50% 100%;
            transform-origin: 50% 100%;


            &-image {
                border-radius: 8px;
                height: 235px;
                width: 100%;
            }

            &-properties {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                opacity: 0;
                border-radius: 8px;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 235px;
                background-color: rgba(7, 5, 14, .8);
                transition-duration: .4s;

                svg {
                    align-self: flex-end;
                    width: 20px;
                    height: 20px;
                    margin-top: 8px;
                    margin-right: 8px;
                    cursor: pointer;
                }

                &-info {
                    padding: 0 16px;

                    .propertiesInfo__container {
                        display: flex;

                        &-rating {
                            display: flex;
                            align-items: start;

                            &-1 {
                                font-size: 24px;
                                line-height: 24px;
                                font-weight: 700;
                            }

                            &-2 {
                                font-size: 20px;
                                line-height: 24px;
                                font-weight: 700;
                            }
                        }

                        &-bars {
                            margin-left: 8px;
                            padding-top: 5px;

                            li {
                                border-radius: 2px;
                                margin-top: 0;
                                width: 20px;
                                height: 2px !important;
                                background-color: rgba(165, 161, 178, .32);

                                &:not(:last-child) {
                                    margin-bottom: 2px;
                                }
                            }

                        }
                    }

                    .propertiesInfo__barName {
                        font-size: 13px;
                        line-height: 16px;
                        color: #a5a1b2;
                        margin-bottom: 4px;
                    }

                    .propertiesInfo__bar {
                        width: 104px;
                        height: 4px;
                        background-color: rgba(126, 121, 143, .32);
                        border-radius: 2px;
                        margin-bottom: 12px;
                    }

                    .propertiesInfo__moreInfo {
                        color: #d9d7e0;
                        font-size: 13px;
                        margin-bottom: 4px;
                    }

                    .propertiesInfo__time {
                        color: #d9d7e0;
                        font-size: 13px;
                        margin-bottom: 12px;
                    }
                }
            }

            &:hover {
                .swiperItem__container-properties {
                    opacity: 1;
                }

                -webkit-transform: scale(1.02) translateY(-2%);
                -o-transform: scale(1.02) translateY(-2%);
                transform: scale(1.02) translateY(-2%);
            }



            .swiperItem__title {
                margin-top: 8px;
                font-size: 15px;
                line-height: 20px;
                font-weight: 500;
            }

            .swiperItem__subscribe {
                font-size: 13px;
                line-height: 16px;
                font-weight: 400;
                color: #ea003d;
            }
        }
    }

    @media (max-width:1271px) {
        &-item {
            width: 16.66666667%;
        }
    }

    @media (max-width:1095px) {
        &-item {
            width: 20%;
        }
    }

    @media (max-width:920px) {
        &-item {
            width: 25%;
        }
    }

    @media (max-width:744px) {
        &-item {
            width: 33.33333333%;
        }
    }

    @media (max-width:600px) {
        &-item {
            width: 25%;
            padding-left: 6px;
            padding-right: 6px;
        }
    }

    @media (max-width:511px) {
        &-item {
            width: 33.33333333%;
        }
    }

    @media (max-width:392px) {
        &-item {
            width: 50%;
        }
    }
}