//.splide__track {
//  padding: 0 25px !important;
//}

//.splide__list {
//  transform: translateX(- 994.273 px) !important;
//}

.splide__slide {
  display: flex;
  justify-content: center;
}

.splide__arrow {
  background-color: transparent;

  &:disabled {
    display: none;
  }

  & svg {
    height: 100px;
    width: 100px;
  }

  & path {
    fill: #ffffff;
  }
}
.splide__arrow--next {
  margin-right: -45px;
}
.splide__arrow--prev {
  margin-left: -45px;
}