.nbl-tabBar {

    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 48px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    box-shadow: 0 -20px 40px rgba(7, 5, 14, .24);

    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    background-color: rgba(31, 27, 46, .88);

    &__item {
        position: relative;
        text-decoration: none;
        max-width: 120px;
        padding-top: 8px;
        padding-bottom: 4px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-flex: 1;
        -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        cursor: pointer;
        -webkit-flex-shrink: 1;
        -ms-flex-negative: 1;
        flex-shrink: 1;
        -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        display: flex;
    }

    &__item-active {}


    &__itemGlowImage {
        position: absolute;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
        top: 0;
        width: 64px;
        height: 48px;
        background-image: url(https://solea-parent.dfs.ivi.ru/picture/7e798f,7e798f/tabBarGlow.svg);
        background-size: 64px 48px;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        opacity: 0;
    }

    &__item-active &__itemGlowImage {
        opacity: 1;
    }

    &__itemIcon {
        position: relative;
        -webkit-align-self: center;
        -ms-flex-item-align: center;
        align-self: center;
        width: 20px;
        height: 20px;
    }

    &__icon {
        fill: rgba(255, 255, 255, .48);

        svg {
            path {
                stroke: rgba(255, 255, 255, .48);
            }

            line {
                stroke: rgba(255, 255, 255, .48);
            }
        }
    }

    &__item-active &__icon {
        fill: rgba(255, 255, 255, 1);

        svg {
            path {
                stroke: rgba(255, 255, 255, 1);
            }

            line {
                stroke: rgba(255, 255, 255, 1);
            }
        }
    }

    &__itemCaption {
        max-width: 100%;
        -webkit-align-self: center;
        -ms-flex-item-align: center;
        align-self: center;
        font-size: 10px;
        line-height: 12px;
        font-weight: 500;
        font-style: normal;
        height: 12px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        margin-top: 4px;
        color: #a5a1b2;
    }

    &__item-active &__itemCaption {
        color: #fff;
    }
}

.nbl-link {
    position: relative;
    opacity: 1;
    cursor: pointer;


    &_style_chaf {
        &:not(:hover):not(:active) {
            // box-shadow: 0 2px 0 #7e798f, inset 0 0 0 #7e798f;
            animation: FocusAnim;
            animation-duration: .4s;
            animation-fill-mode: forwards;
        }

        &:hover,
        &:active {
            // box-shadow: 0 0 0 #6d687c, inset 0 -1.5em 0 #6d687c;
            animation: notFocusAnim;
            animation-duration: .2s;
            animation-fill-mode: forwards;
        }
    }

    @keyframes FocusAnim {
        0% {
            box-shadow: 0 0 0 #6d687c, inset 0 -1.5em 0 #6d687c;
        }

        100% {
            box-shadow: 0 2px 0 #7e798f, inset 0 0 0 #7e798f;
        }
    }

    @keyframes notFocusAnim {
        0% {
            box-shadow: 0 2px 0 #7e798f, inset 0 0 0 #7e798f;
        }

        100% {
            box-shadow: 0 0 0 #6d687c, inset 0 -1.5em 0 #6d687c;
        }
    }
}