.pageSection {}

.catalogControlPanel__pageSection {}

.catalogControlPanel {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    & .sorting {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        position: relative;
        overflow: hidden;
    }

    & .sorting_active {
        overflow: visible;
    }
}

.genre__catalogControlPanel {}



.genre__sorting {}


.nbl-dropdown {}

.sorting_active .sorting__nbl-dropdown {
    opacity: 1;
    pointer-events: auto;
}

.genre__sorting .nbl-dropdown {
    min-width: 250px;
}

.sorting__nbl-dropdown {
    position: absolute;
    top: 32px;
    z-index: 2;
    opacity: 0;
    pointer-events: none;
}

.nbl-dropdown {
    display: inline-block;
    padding-top: 8px;
    padding-bottom: 12px;
    background-color: #1f1b2e;
    box-shadow: 0 20px 40px rgba(7, 5, 14, .4);

    &__title {
        margin-top: 4px;
        margin-bottom: 12px;
        padding: 0 16px;
        font-size: 15px;
        line-height: 20px;
        font-weight: 400;
        font-style: normal;
        color: #a5a1b2;
    }

    &__item {
        padding-left: 20px;
        position: relative;
        background-color: transparent;
        opacity: 1;
        display: block;
        padding-right: 16px;
        padding-top: 12px;
        padding-bottom: 12px;
        white-space: nowrap;
        cursor: pointer;
    }

    &__itemText {
        display: inline-block;
        vertical-align: top;
        font-size: 15px;
        line-height: 20px;
        font-weight: 500;
        font-style: normal;
        color: rgba(255, 255, 255, .72);
        max-height: 20px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    &__item_selected {}

    &__itemStripe {
        display: none;
        background-color: #ea003d;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 4px;
        // background-color: transparent;
    }
}



.nbl-dropdown .nbl-dropdown__item_selected .nbl-dropdown__itemText,
.nbl-dropdown .nbl-dropdown__item_selected:hover .nbl-dropdown__itemText {
    color: #fff;
}

.nbl-dropdown .nbl-dropdown__item:hover {
    background-color: #312b45;
}

.nbl-dropdown .nbl-dropdown__item:hover .nbl-dropdown__itemText {
    color: #fff;
}

.nbl-dropdown__item_selected .nbl-dropdown__itemStripe {
    display: block;
}

.sorting_active .nbl-arrowButton .nbl-icon__reverse {
    transform: rotate(180deg);
}