.headerDropdownBody {
  --menuTransition: 250ms;
  position: absolute;
  top: 0;
  left: 0;
  background: #1f1b2e;
  box-shadow: 0 20px 96px #12101b;
  border-radius: 12px;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  z-index: 2;
  transition-property: visibility, opacity, height;
  transition-timing-function: ease-out;
  transition-delay: 0s;
  transform: translateY(0);
  will-change: transform, height;
  transition: opacity 0.5s ease-in;
}

.notFocusAnim {
  opacity: 1;
  animation: notFocusAnim;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
}

@keyframes notFocusAnim {
  0% {
    visibility: visible;
    opacity: 1;
  }
  100% {
    visibility: hidden;
    opacity: 0;
  }
}
.focusAnim {
  animation: focusAnim;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
}

@keyframes focusAnim {
  0% {
    opacity: 0;
    visibility: visible;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
.headerDropdown__content {
  max-height: 400px;
  padding: 32px;
  margin-top: 72px;
}
.headerDropdown__grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 3fr;
  grid-template-rows: auto auto auto;
  gap: 0px 0px;
  grid-template-areas: "genres genres countries a" "genres genres years a" "test test test test";
}
.headerDropdown__grid ul li {
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  font-style: normal;
  color: rgba(255, 255, 255, 0.48);
  cursor: pointer;
  transition-duration: 80ms;
  margin-top: 0;
}
.headerDropdown__grid ul li:hover {
  color: rgb(255, 255, 255);
}
.headerDropdown__grid ul li:not(:first-child) {
  margin-top: 8px;
}

.box-title {
  color: #fff;
  font-size: 15px;
  line-height: 20px;
  font-weight: 700;
  font-style: normal;
  margin-bottom: 8px;
}

.box-genres {
  grid-area: genres;
}
.box-genres__lists {
  -moz-columns: 2;
  columns: 2;
  -moz-column-gap: 24px;
  column-gap: 24px;
  -moz-column-fill: auto;
  column-fill: auto;
  height: 304px;
}
.box-countries {
  grid-area: countries;
}
.box-years {
  margin-top: 24px;
  grid-area: years;
}
.box-right {
  display: flex;
  justify-content: space-between;
  position: relative;
  grid-area: a;
}
.box-right::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 1px;
  background-color: rgba(255, 255, 255, 0.16);
}
.box-right__item {
  padding: 0 0 0 16px;
  transition-duration: 80ms;
  border-left: 0px solid rgb(255, 255, 255);
}
.box-right__item:hover {
  border-left: 1px solid rgb(255, 255, 255);
}
.box-right__item:not(:last-child) {
  margin-bottom: 8px;
}
.box-right__item-focus {
  border-left: 1px solid rgb(255, 255, 255);
}
.box-right__sideContentwidet {
  width: 244px;
  height: 100%;
  border-radius: 8px;
  background-color: #27223a;
}

.dropdownNotifications {
  grid-area: test;
  width: 100%;
  height: 100%;
  margin: 50px auto;
}
.dropdownNotifications__icon {
  width: 56px;
  height: 56px;
  margin: 0 auto;
}
.dropdownNotifications__icon svg {
  fill: #A5A1B2;
}
.dropdownNotifications__text {
  text-align: center;
  color: #A5A1B2;
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  font-style: normal;
  margin-top: 28px;
}/*# sourceMappingURL=HeaderDropdownBody.css.map */