.headerBar {

    &__textInfo {
        margin-top: 24px;
    }

    &__title {
        font-size: 40px;
        line-height: 44px;
        font-weight: 700;
        font-style: normal;
    }
}

.clause {
    // font-size: 15px;
    // line-height: 22px;
    // font-weight: 400;
    // font-style: normal;
    // width: 75%;
    color: #a5a1b2;

    &_is-native {}


    &__text {
        font-weight: 400;
        font-size: 15px;
        line-height: 22px;
        font-style: normal;
    }

    &__text-inner {
        font-size: inherit;
        line-height: inherit;
        font-weight: inherit;
        font-style: inherit;

        p {
            a {
                color: inherit;
            }
        }
    }

    &__toggle {
        font-weight: 500;
        color: rgba(255, 255, 255, .88);
        -webkit-transition: color 400ms, -webkit-transform 400ms;
        -o-transition: color 400ms, -o-transform 400ms;
        transition: transform 400ms, color 400ms;
        transition: transform 400ms, color 400ms, -webkit-transform 400ms, -o-transform 400ms;
        cursor: pointer;
    }
}

.hidden-children {
    display: block;
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    text-overflow: -o-ellipsis-lastline;
}

.catalog__clause {
    width: 75%;
    font-size: 15px;
    line-height: 22px;
    font-weight: 400;
    font-style: normal;
}

.filtersDesktop {
    margin-top: 12px;

    &__content {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        background-color: #1f1b2e;
        padding: 16px;
        border-radius: 6px;
    }

    &__plank-list {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-left: -6px;
        margin-right: -6px;
    }

    &__plank-item {

        width: 20%;

        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        margin-bottom: 12px;
        padding-right: 6px;
        padding-left: 6px;
    }

    &__plank {
        position: relative;
    }
}

.filtersDesktop__plank.isActive .nbl-plank__icon {
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.filtersDesktop__plank.isActive .nbl-plank {
    background-color: #7e798f !important;
}

.filterDropdown {
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    padding-top: 4px;
    z-index: 1;


    &_genres {
        width: 630px;
    }

    &__inner {
        background: #312b45;
        border-radius: 4px;
        box-shadow: 0 16px 32px rgba(7, 5, 14, .4);
    }

    &__content {
        padding: 16px;

    }

    &__list-container {}

    &__list {
        margin-top: 16px;
        padding-top: 4px;
        border-top: 1px solid rgba(255, 255, 255, .32);

        display: grid;
        grid-column-gap: 40px;
        grid-template-columns: repeat(3, 1fr);
    }

    &_item {
        margin-top: 12px;
    }
}