.section-advertisement {
    background-color: #373249;
    text-align: center;
    height: 230px;
    margin-top: 24px;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;

    font-size: 20px;
    line-height: 21px;
    font-weight: 700;
    font-style: normal;
}

.clause {
    color: #a5a1b2;

    &_is-native {}

    &__text {
        font-weight: 400;
        font-size: 15px;
        line-height: 22px;
        font-style: normal;
    }

    &__text-inner {
        font-size: inherit;
        line-height: inherit;
        font-weight: inherit;
        font-style: inherit;

        p {
            a {
                color: inherit;
            }
        }
    }

    &__toggle {
        font-weight: 500;
        color: rgba(255, 255, 255, 0.88);
        -webkit-transition: color 400ms, -webkit-transform 400ms;
        -o-transition: color 400ms, -o-transform 400ms;
        transition: transform 400ms, color 400ms;
        transition: transform 400ms, color 400ms, -webkit-transform 400ms, -o-transform 400ms;
        cursor: pointer;
    }
}

.hidden-children {
    display: block;
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    text-overflow: -o-ellipsis-lastline;
}

.catalog__clause {
    width: 75%;
    font-size: 15px;
    line-height: 22px;
    font-weight: 400;
    font-style: normal;
}

@media (max-width: 880px) {
    .catalog__clause {
        width: 100%;
    }
}

.pageSection__movies__container {
    padding-bottom: 24px;
    padding-top: 24px;

    @media screen and (max-width: 1279px) {
        width: auto;
        margin-left: 8px;
        margin-right: 8px;
    }
}

.gallery {
    position: relative;

    &__header {
        padding-left: 12px;
        padding-right: 12px;
        display: -webkit-box;
        overflow: hidden;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        transition: padding-right 400ms;
        box-sizing: border-box;
        margin-bottom: 16px;
    }

    @media screen and (max-width: 599px) {
        &__header {
            padding-left: 8px;
            padding-right: 8px;
        }
    }

    &__headerLink {
        font-size: 24px;
        line-height: 28px;
        font-weight: 700;
        color: #fff;
    }

    @media screen and (max-width: 599px) {
        &__headerLink {
            font-size: 20px;
        }
    }

    &__viewport-inner {
        position: relative;
        margin-left: 12px;
        margin-right: 12px;
    }
}

.genre__pageSection {
    padding-bottom: 80px;
}

.gallery {
    &__list {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
}