@mixin backgrounds-buttons {
    padding: 10px 12px;
    background-color: rgba(255,255,255,.08);
    border-color: rgba(255,255,255,.08);
    border-width: 0;
    border-radius: 8px;
}

.contentPage {
    &__container {
        &-inner {
            display: flex;
        }
    }
    &__player {
        margin-right: 44px;
        &-userButtons {
            display: flex;
            align-items: center;
            li {
                @include backgrounds-buttons;
                svg {
                    width: 16px;
                    height: 16px;
                }
                &:not(:last-child) {
                    margin-right: 16px;
                }
            }
            .userButton-trailer {
                display: flex;
                align-items: center;
                font-size: 15px;
                line-height: 20px;
                font-weight: 500;
                padding: 10px 12px;
                color: rgba(255,255,255,.72);
                svg{
                    margin-right: 6px;
                }
            }
        }
    }
}

video {
    width: 719px;
    height: 404.5px;
    margin-bottom: 24px;
}