.contentPage {
    &__container {
        &-inner {
            display: flex;
        }
    }
    &__player {
        margin-right: 44px;
        &-userButtons {
            display: flex;
            align-items: center;
            .userButton-trailer {
                display: flex;
                align-items: center;
                font-size: 15px;
                line-height: 20px;
                font-weight: 500;
                color: rgba(255,255,255,.72);
                svg{
                    margin-right: 6px;
                }
            }
        }
    }
}

video {
    width: 719px;
    height: 404.5px;
    margin-bottom: 24px;
}