@import './components/all.scss';
@import './reset.scss';
@import url(//db.onlinewebfonts.com/c/29e676384bcea6f376417bcfee5c8595?family=ivi+Sans);
// @import './fonts/stylesheet.css';

.wrapper {
    font-family: iviSans, Arial, Helvetica, Helvetica Neue, FreeSans, sans-serif;
    font-style: normal;
    font-weight: 400;
    background-color: #100e19;
    width: 100%;
    height: 100%;
    color: #fff;
}

._container {
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 12px;
}