@import './components/all.scss';
@import './reset.scss';
@import url(//db.onlinewebfonts.com/c/29e676384bcea6f376417bcfee5c8595?family=ivi+Sans);

.wrapper {
    font-family: 'ivi Sans';
    font-style: normal;
    font-weight: 400;
    background-color: #100e19;
    width: 100%;
    height: 100%;
}

._container {
    max-width: 1216px;
    margin: 0 auto;
    padding: 0 10px;
}