.recommendSwiper {
    &__title {
        font-size: 24px;
        line-height: 28px;
        font-weight: 700;
        font-family: iviSans, Arial, Helvetica, Helvetica Neue, FreeSans, sans-serif;
        margin-bottom: 24px;
    }
    &__swiper {
        &-item {
            width: 153px;   
            .swiperItem__container {
                position: relative;
                margin-bottom: 8px;
                &-image {
                    border-radius: 8px;
                    height: 235px;    
                }
                &-properties{
                    display: none;
                    border-radius: 8px;
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 235px;  
                }
                &:hover {
                    .swiperItem__container-properties {
                        display: block;
                    }
                }
            }
            .swiperItem__title {
                font-size: 15px;
    line-height: 20px;
    font-weight: 500;
            }
        }
    }
}